################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/.vs
/ConsoleApp/ConsoleApp/obj
/ConsoleApp/ConsoleApp/bin/Debug
/LinkedLists/.vs
/LinkedLists/LinkedLists/bin/Debug/net8.0
/LinkedLists/LinkedLists/obj
/LinkedLists/UnitTests/bin/Debug/net8.0
/LinkedLists/UnitTests/obj
/Animals/.vs/Animals.slnx
/Animals/Animals/bin/Debug/net8.0
/Animals/Animals/obj
